<div class="border-b border-gray-200 bg-white py-5">
  <h1 class="text-lg font-semibold leading-6 text-gray-900">Editing Movie</h3>
  <p class="mt-1 text-sm text-gray-500"><%= @movie.title %></p>
</div>

<%= render "form", movie: @movie %>



