<div class="bg-white px-6 py-32 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
    <p class="text-base font-semibold leading-7 text-indigo-600">Introducing</p>
    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Technical Assignment</h1>
    <p class="mt-6 text-xl leading-8"> A Rails 7 app that allows for crypto donations to the above Charity.sol smart contract via a Web3 wallet.</p>
    <div class="mt-10 max-w-2xl">
      <p>This project consists of two separate Github repos:</p>
      <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
        <li class="flex gap-x-3">
          <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900">Web3 Donations</strong> A Hardhat.js project which allows for the deployment of a Charity.sol smart contract to the Ethereum test network Sepolia. The app uses the Alchemy API to deploy the smart contract to the Ethereum test network. You can take a closer look at contracts/Charity.sol for details on the smart contract implementation.</span>
        </li>
        <li class="flex gap-x-3">
          <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900">Nifty Fox Studios</strong> A Rails 7 app that allows for crypto donations to the above Charity.sol smart contract via a Web3 wallet. Please take a look at the stimulus controller in javascript/metamask_controller.js for more details on the web3 integration with Metamask. The main app fetches a list of top movies from the IMDB-Top-100 API found on Rapid-API during the database seeding stage and stores the film details in a Postgres database. Details can be found in the db/seeds.rb file. I chose a simple third party API's for this project.</span>
        </li>
      </ul>
      <p class="mt-8">The link to the IMDB-Top-100 API can be found at this link here: <a href="https://rapidapi.com/rapihub-rapihub-default/api/imdb-top-100-movies" class="text-indigo-600">IMDB-Top-100</a>. The Github repository address can be found here: <a href="https://github.com/StephanYu/nifty_fox_studios" class="text-indigo-600">Nifty Fox Studios</a></p>
      <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Web3 Wallet</h2>
      <p class="mt-6">Similar to how traditional web2 portals require some sort of user authentication like email login credentials, web3 applications usually require users to own a web3 wallet. There are many different wallets you can choose from, but for the sake of this project I would recommend MetaMask, which is, by far, the most popular Blockchain wallet used to store crypto and connect to decentralized Applications. Blockchain Wallets are completely anonymous and you won’t need your email or any personal information to create your Metamask wallet. Alchemy offers detailed instructions on how to install Metamask on your machine. Instructions can be found here: <a href="https://docs.alchemy.com/docs/how-to-create-a-metamask-wallet" class="text-indigo-600">How to create a Metamask wallet</a>.</p>
      <figure class="mt-10 border-l border-indigo-600 pl-9">
        <blockquote class="font-semibold text-gray-900">
          <p>DO NOT use any real funds (USD, EUR, etc.) to fund your wallet. DO NOT transfer real ETH to the test wallet address either as you won't be able to recover them.</p>
        </blockquote>
        <figcaption class="mt-6 flex gap-x-4">
          <img class="h-6 w-6 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div class="text-sm leading-6"><strong class="font-semibold text-gray-900">Maria Hill</strong> – Crypto Expert</div>
        </figcaption>
      </figure>
      <p class="mt-10">Once the wallet has been successfully installed and setup, please obtain some test ETH for the Sepolia network via the faucet website found here: <a href="https://sepoliafaucet.com/" class="text-indigo-600">Sepolia Faucet</a>. Enter the address of your newly setup web3 wallet to receive test crypto tokens. Detailed instructions on how to obtain test ETH tokens can be found on that same page.</p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Movies and Reviews</h2>
      <p class="mt-6">The app consists of only two models with a straight-forward one-to-many relationship: Movie and Review.The Movie model uses ActiveStorage for storing its main image. The most obvious shortcoming of the app is the lack of a User model and auth functionality which means that any user can edit movies or write reviews without any restrictions.</p>
    </div>
  </div>
</div>
